.portfolioButtons {
  text-align: center;
}

.portfolioButtonSingle {
  display: inline-block;
  background-color: rgb(40, 85, 64);
  margin-left: 10px;
  border-radius: 6px;
  align-content: center;
  color: white;
  font-weight: 600;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
} .portfolioButtonSingle:hover {
  background-color: rgb(74, 124, 126);
  transform: translateY(-2px);
}

/* Mobile */
@media (max-width: 767px) {
.portfolioButtonSingle {
  width: 150px;
  height: 40px;
  margin-top: 10px;
}
}

/* Tablet */
@media (min-width: 768px) {
.portfolioButtonSingle {
  width: 150px;
  height: 40px;
  font-size: 18px;
}
}

/* 1080p */
@media (min-width: 1025px) {
.portfolioButtonSingle {
  width: 150px;
  height: 40px;
  font-size: 18px;
}
}

/* 1440p */
@media (min-width: 1921px) {
.portfolioButtonSingle {
  width: 200px;
  height: 50px;
  font-size: 23px;
}
}

/* 2160p */
@media (min-width: 2561px) {
.portfolioButtonSingle {
  width: 300px;
  height: 80px;
  font-size: 36px;
}
}