.headerBox {
    text-align: center;
}
.headerTitle {
    line-height: 10px;
}

/* Mobile */
@media (max-width: 767px) {
.headerTitle {
    font-size: 48px;
}
.headerSubtitle {
    font-size: 24px;
}
}

/* Tablet */
@media (min-width: 768px) {
.headerTitle {
    font-size: 56px;
}
.headerSubtitle {
    font-size: 32px;
}
}

/* 1080p */
@media (min-width: 1025px) {
.headerTitle {
    font-size: 48px;
}
.headerSubtitle {
    font-size: 32px;
}
}

/* 1440p */
@media (min-width: 1921px) {
.headerTitle {
    font-size: 64px;
}
.headerSubtitle {
    font-size: 43px;
}
}

/* 2160p */
@media (min-width: 2561px) {
.headerTitle {
    font-size: 96px;
}
.headerSubtitle {
    font-size: 64px;
}
}