.devBodyText {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
} .devBodyText img {
    border: 1px solid var(--border-color);
    border-radius: 10px;
} .devBodyText p {
    font-size: 20px;
    text-align: left;
}

/* Mobile */
@media (max-width: 767px) {
.devBodyText img {
    width: 300px;
} .devBodyText p {
    margin-top: 20px;
}
}

/* Tablet */
@media (min-width: 768px) {
.devBodyText img {
    width: 500px;
}
.devBodyText p {
    font-size: 32px;
    margin-top: 20px;
}
}

/* 1080p */
@media (min-width: 1025px) {
.devBodyText {
    display: flex;
    margin-bottom: 90px;
} .devBodyText img {
    min-width: 500px;
    width: 500px;
} .devBodyText p {
    margin-left: 1em;
    font-size: 20px;
    margin-top: auto;
    margin-bottom: auto;
}
}

/* 1440p */
@media (min-width: 1921px) {
.devBodyText {
    margin-bottom: 120px;
} .devBodyText img {
    width: 665px;
} .devBodyText p {
    font-size: 27px;
}
}

/* 2160p */
@media (min-width: 2561px) {
.devBodyText {
    margin-bottom: 180px;
} .devBodyText img {
    width: 1000px;
} .devBodyText p {
    font-size: 40px;
}
}