.homePhotosRow {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 25px;
}
.homePortaitA {
  width: 95%;
}
.homePortaitB {
  width: 95%;
  margin-top: 17.5%;
}
.homePortaitC {
    width: 100%;
    margin-top: 80%;
}

.aboutMe {
    text-align: left;
    margin-left: 25%;
    margin-right: 25%;
}

/* Mobile */
@media (max-width: 767px) {
.homePhotosRow {
    width: 85%;
    padding-bottom: 50px;
}
.homePortaitC {
  width: 110%;
  margin-top: 75%;
}
.aboutMe {
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
}
}

/* Tablet */
@media (min-width: 768px) {
.homePhotosRow {
    width: 700px;
}
.aboutMe {
    font-size: 32px;
}
}

/* 1080p */
@media (min-width: 1025px) {
.homePhotosRow {
    width: 1000px;
}
.aboutMe {
    font-size: 20px;
}
}

/* 1440p */
@media (min-width: 1921px) {
.homePhotosRow {
    width: 1250px;
}
.aboutMe {
    font-size: 25px;
}
}

/* 2160p */
@media (min-width: 2561px) {
.homePhotosRow {
    width: 2000px;
}
.aboutMe {
    font-size: 40px;
}
}