* {
    box-sizing: border-box;
}

body {
  background: rgb(245, 245, 245);
  color: black;
  font-family: "Gelasio", serif;
  --border-color: black;
} body a {
  color: black;
}

body.dark {
  background: rgb(28, 28, 30);
  color: #e6e6e6;
  --border-color: rgb(245, 245, 245);
} body.dark a {
  color: #e6e6e6;
}